resources/tools/Slack workflow agent.json
{
  "name": "Slack workflow agent",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0AC4L8PZBJ",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        336,
        -112
      ],
      "id": "62e23ede-8bde-4e5e-b70a-007bccc647b3",
      "name": "Slack Trigger",
      "webhookId": "aa95174a-1a00-4aab-8de3-513d96bfb730",
      "credentials": {
        "slackApi": {
          "id": "QvIskjVjBgeWJH58",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks[0].elements[0].elements[1].text }}",
        "options": {
          "systemMessage": "You are a helpful support assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        -112
      ],
      "id": "f4f0722a-db58-4421-9f7f-70ded01ba638",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "3d85e43f-b5d1-4d83-9bb9-4853c1d271bd",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "5lZ3IJjQtO2iYCB3",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.channel }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        96
      ],
      "id": "3468f83d-d286-4325-b07c-773caf3a3b7c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        896,
        -112
      ],
      "id": "ef63ac2e-ace1-4a68-948d-aa63c848c0f1",
      "name": "Send a message",
      "webhookId": "834fea5d-7be3-4af4-b3b9-9f4e5fea0e78",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Dyd2tfDQqsRGLoyt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        704,
        96
      ],
      "id": "6be42b39-3c1c-4de0-9e2b-f9ba778b6468",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ZnN2KmO5qn4xjRjp",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "98ff6fed-fd7f-4d8c-867d-e19f496e0d7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9504f6fd50c2c9f2ab43bf6bd558272eb779c9f05ab5d9749cd8fd2a428a23a"
  },
  "id": "uAJxGu6gurF7BP7jIRXKf",
  "tags": []
}