resources/templates/my workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0AB19YRJUV",
          "mode": "list",
          "cachedResultName": "n8n-channal"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8df98b39-0fc2-4038-af64-8876dca9974c",
      "name": "Slack Trigger",
      "webhookId": "aa95174a-1a00-4aab-8de3-513d96bfb730",
      "credentials": {
        "slackApi": {
          "id": "6vwWI6XKawc2mgso",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks[0].elements[0].elements[1].text }}",
        "options": {
          "systemMessage": "You are a helpful support assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "e68f0c2c-3a3c-4f95-b16b-be890b782927",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "303c5e54-9153-4ab2-a6fa-d4d8f5db476f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "UEw3caeNm1thGEOq",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.channel }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "8f81e696-b532-46bb-8833-2499b6345400",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        560,
        0
      ],
      "id": "52b62cdf-b267-4d4a-8ec9-479dee84b506",
      "name": "Send a message",
      "webhookId": "834fea5d-7be3-4af4-b3b9-9f4e5fea0e78",
      "credentials": {
        "slackApi": {
          "id": "6vwWI6XKawc2mgso",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        368,
        208
      ],
      "id": "4dae22d1-a578-4685-8be2-e9b24786e237",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "LmvbwA9J9yPmSxzS",
          "name": "final"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6ec5e627-1020-4965-9309-98f0ca5c2a53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16e46413aa9b33b9c57281b7bb8f24064dbf2ca7376d953c8ab5b3dfed7a40b4"
  },
  "id": "fY4Ivhp69wAAnJRlsdUK4",
  "tags": []
}