resources/starter-kit/Multi-Agent Research, Fact-Check, and HTML Email Report Generator.json
{
  "name": "Multi-Agent Research, Fact-Check, and HTML Email Report Generator",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "topic",
              "value": "Artificial Intelligence in Healthcare",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "recipient_email",
              "value": "user@example.com",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "report_title",
              "value": "Weekly Research Report",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0969e967-d1b1-467e-8f80-661e2c6380a5",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        544
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "2e4ed23f-39ec-4ef0-9456-32cdbd99b891",
      "name": "OpenAI Model - Research Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2512,
        768
      ],
      "credentials": {
        "openAiApi": {
          "id": "G6iXSqtb0vJpYIZy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8d418fcd-e2a2-4a4e-b586-bc1146a04420",
      "name": "SerpAPI Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        2640,
        768
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetch the full content from a specific URL to extract detailed information. Provide the complete URL to retrieve.",
        "options": {}
      },
      "id": "cb0d86cb-c92a-4f31-a084-1d19001e5cf9",
      "name": "HTTP Request Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2768,
        768
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"findings\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"fact\": {\"type\": \"string\", \"description\": \"The factual finding\"},\n          \"source\": {\"type\": \"string\", \"description\": \"The source URL or publication\"},\n          \"date\": {\"type\": \"string\", \"description\": \"Publication or update date\"},\n          \"credibility\": {\"type\": \"string\", \"description\": \"Assessment of source credibility\"}\n        }\n      }\n    }\n  }\n}"
      },
      "id": "503e5130-cca3-4483-9de3-2cf5245c66ac",
      "name": "Research Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2896,
        768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Research the topic: ' + $json.topic }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a research agent tasked with gathering recent, credible information about: {{ $json.topic }}\n\nYour objectives:\n1. Search for the most recent information (prioritize content from the last 6 months)\n2. Focus on credible sources: academic journals, reputable news outlets, government sites, established research institutions\n3. Gather at least 5-7 distinct facts or findings\n4. For each finding, note the source URL, publication date, and assess credibility\n5. Look for diverse perspectives and comprehensive coverage\n\nUse the search tool to find relevant sources, then fetch full content from the most promising URLs to extract detailed information.\n\nProvide your findings in the structured format with facts, sources, dates, and credibility assessments."
        }
      },
      "id": "17ec231f-2add-43a8-826a-4b9afd8446ed",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2640,
        544
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "37d50e31-5e2f-498c-861f-744893185634",
      "name": "OpenAI Model - Fact Checker",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3104,
        768
      ],
      "credentials": {
        "openAiApi": {
          "id": "G6iXSqtb0vJpYIZy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1da24de-de6c-4ad7-84ac-9d6f72b39e91",
      "name": "SerpAPI Verification Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        3232,
        768
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetch content from URLs to verify specific facts. Provide the complete URL to retrieve.",
        "options": {}
      },
      "id": "02f1e3d2-3374-42ff-b50e-fb757ce08de1",
      "name": "HTTP Verification Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3360,
        768
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"verified_facts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"fact\": {\"type\": \"string\", \"description\": \"The verified fact\"},\n          \"status\": {\"type\": \"string\", \"enum\": [\"verified\", \"unverified\"], \"description\": \"Verification status\"},\n          \"sources\": {\n            \"type\": \"array\",\n            \"items\": {\"type\": \"string\"},\n            \"description\": \"List of independent sources confirming this fact\"\n          },\n          \"source_count\": {\"type\": \"number\", \"description\": \"Number of independent sources found\"},\n          \"confidence\": {\"type\": \"string\", \"description\": \"Confidence level in verification\"}\n        }\n      }\n    }\n  }\n}"
      },
      "id": "6b9e3bc5-ea86-433b-b1a9-04fc0e03372d",
      "name": "Fact Check Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3488,
        768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research findings to verify:\n{{ $json.output.findings }}\n\nVerify each fact by finding at least 2 independent sources.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a fact-checking agent. Your task is to verify the research findings provided.\n\nVerification criteria:\n1. For each fact, search for AT LEAST 2 independent sources that confirm it\n2. Sources must be independent (different domains, different organizations)\n3. Only mark a fact as \"verified\" if you find 2+ independent sources\n4. If you find only 1 source or cannot confirm, mark as \"unverified\"\n5. List all source URLs you found for each fact\n6. Provide a confidence assessment\n\nBe thorough and rigorous. Use the search tool to find multiple sources for each claim. Cross-reference information across different credible sources.\n\nReturn only facts that meet the verification criteria (2+ independent sources) with status \"verified\"."
        }
      },
      "id": "55245de4-c796-4089-9f1a-d43ef5bd1e8e",
      "name": "Fact-Checking Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3232,
        544
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "d817b002-c805-4ba4-aa70-206cdd237818",
      "name": "OpenAI Model - Report Writer",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3776,
        768
      ],
      "credentials": {
        "openAiApi": {
          "id": "G6iXSqtb0vJpYIZy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $('Workflow Configuration').item.json.topic }}\n\nVerified facts:\n{{ $json.output.verified_facts }}\n\nWrite a comprehensive report based on these verified facts.",
        "options": {
          "systemMessage": "You are a professional report writer. Create comprehensive, well-written reports based on verified facts.\n\nReport requirements:\n1. Write a clear, engaging report under 1,000 words\n2. Use only the verified facts provided\n3. Organize information logically with clear sections\n4. Include an executive summary at the beginning\n5. Use professional, accessible language\n6. Cite sources inline where appropriate\n7. End with key takeaways or conclusions\n\nStructure:\n- Executive Summary\n- Main Body (organized by themes or topics)\n- Key Takeaways\n- Sources\n\nWrite in a professional but readable style. Make the report informative and valuable."
        }
      },
      "id": "e4eb11aa-8b01-444a-9403-2404bca10068",
      "name": "Report Writing Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3696,
        544
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "2c5cd126-6371-4cb3-8f97-950562cd779b",
      "name": "OpenAI Model - Formatter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4128,
        768
      ],
      "credentials": {
        "openAiApi": {
          "id": "G6iXSqtb0vJpYIZy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Report content:\n{{ $json.output }}\n\nFormat this report as professional HTML for email.",
        "options": {
          "systemMessage": "You are an HTML formatting specialist. Take reports and format them as clean, professional HTML suitable for email.\n\nFormatting requirements:\n1. Create clean, professional HTML with proper structure\n2. Use appropriate heading tags (h1, h2, h3)\n3. Apply professional styling with inline CSS\n4. Use a readable font (Arial, Helvetica, or similar)\n5. Add proper spacing and margins\n6. Make links clickable\n7. Use a color scheme that's professional (blues, grays)\n8. Ensure mobile-friendly formatting\n9. Add a professional header with the report title\n10. Make it visually appealing but not cluttered\n\nReturn ONLY the complete HTML code, ready to be used as email body content. Include all necessary inline styles."
        }
      },
      "id": "b2bf533b-7b4e-487f-ac37-18755646d3c3",
      "name": "Formatting Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4048,
        544
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "email_subject",
              "value": "={{ $('Workflow Configuration').item.json.report_title + ': ' + $('Workflow Configuration').item.json.topic }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email_body_html",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "recipient",
              "value": "={{ $('Workflow Configuration').item.json.recipient_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d2749251-9b79-4f5b-8f6d-f5a977b09624",
      "name": "Prepare Email Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        544
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipient }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body_html }}",
        "options": {}
      },
      "id": "fe39a98a-c43f-427b-825e-57f896257c92",
      "name": "Send Report via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4624,
        544
      ],
      "webhookId": "7d24885b-57d3-4059-a4ef-19e445553ec7",
      "credentials": {
        "gmailOAuth2": {
          "id": "jMwzMsM1idb8olHr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "99ddeb51-2ae0-425b-b872-24a559bd14bc",
      "name": "When to Run",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2064,
        544
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When to Run": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Research Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tool": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Research Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Fact-Checking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Fact Checker": {
      "ai_languageModel": [
        [
          {
            "node": "Fact-Checking Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Verification Tool": {
      "ai_tool": [
        [
          {
            "node": "Fact-Checking Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Verification Tool": {
      "ai_tool": [
        [
          {
            "node": "Fact-Checking Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fact Check Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Fact-Checking Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Fact-Checking Agent": {
      "main": [
        [
          {
            "node": "Report Writing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Report Writer": {
      "ai_languageModel": [
        [
          {
            "node": "Report Writing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Report Writing Agent": {
      "main": [
        [
          {
            "node": "Formatting Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Formatter": {
      "ai_languageModel": [
        [
          {
            "node": "Formatting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formatting Agent": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Send Report via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "44e56ead-a1e9-4c12-8bce-b81b8b08c78c",
  "meta": {
    "instanceId": "f9504f6fd50c2c9f2ab43bf6bd558272eb779c9f05ab5d9749cd8fd2a428a23a"
  },
  "id": "sahzc5Iu-47bs0I-J5pxL",
  "tags": []
}